__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

venv/
env/
ENV/
.env
.venv
requirements.txt.log

*.db
*.sqlite3
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db
*.log
